@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-zinc-50;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

.block-highlight {
    background-color: rgb(29 78 216);
    color: white;
    padding: 4px;
    margin: auto;
    width: 50%;
    z-index: -100;
    transform: rotate(-1deg);
}

.highlight-container,
.highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}
.highlight-container:before {
    content: "";
    display: block;
    height: 10%;
    width: 110%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: rgb(29 78 216);
    top: 50px;
    left: -30px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}
