@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-zinc-50;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

.invertMe {
    mix-blend-mode: invert;
}

.block-highlight {
    background-color: rgb(29 78 216);
    color: white;
    padding: 4px;
    margin: auto;
    width: 50%;
    z-index: -100;
    transform: rotate(-1deg);
}
