.main {
  height: 75vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2rem 0;
  margin: 8px;
}

.times {
  font-family: "Times New Roman", Times, serif;
  color: var(--white);
  font-size: 1.5rem;
}

.linearWipe {
  text-align: center;
  background: linear-gradient(to right, var(--white) 20%, var(--white) 40%, var(--white) 60%, var(--white) 80%);
  background-size: 200% auto;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes glow {
  from {
    text-shadow: 1px 2px 20px var(--primary);
  }
  to {
    text-shadow: 0 0 30px var(--primary), 0 0 10px var(--primary);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
